* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page-header {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid gray;
  box-shadow: 5px 10px 18px #888888;
  position: sticky;
}

.header-btn {
  font-size: 1.1rem;
  padding: 1em 2em;
  border-radius: 15px;
  cursor: pointer;
}

.background-select-label-input {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

#background-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
}

.panel-and-main {
  display: grid;
  grid-template-columns: minmax(400px, .5fr ) 5fr;
  grid-template-rows: 1500px;
  
}

.edit-panel {
  position: relative;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 1500px;
  scrollbar-width: thin;
}

.panel-section-container {
  
  border: 3px solid black;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
}

.panel-section {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}

.panel-section:hover img {
 animation: 1s subtleTilt ease-out;
}

@keyframes subtleTilt {
  from {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.img-title-container {
  display: flex;
  gap: .5rem;
  align-items: flex-end;
}

.edit-panel-img {
  outline: 3px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.inputs-and-label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  
}

.inputs-and-label input {
  padding: .5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.resize-input, .skills-input, textarea {
  resize: vertical;
  
  font-size: 1rem;
  padding: .5rem;
  height: 70px;
  width: 100%;
}

.position-input {
  width: 100%;
}

#file {
  padding: 0;
  display: none;
}

[for='file'] {
  border: 2px solid black;
  padding: 1rem;
  cursor: pointer;
}
[for='file']:hover {
  background-color: rgb(213, 213, 213);
}


.expandBtn {
  justify-self: flex-end;
  border: none;
  background-color: white;
  font-size: 2rem;
  cursor: pointer;
}

.selected-title {
  color: gray;
}


.hidden {

  max-height: 0;
  overflow: hidden;
  
}

.visible-no-anim {
  display: block;
}


.toggle-animation {
  animation: expand 1s ease-out .1s;
}


.visible {
  animation: expand .2s ease-out;
}



@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    transform: translateY(-30px);
    opacity: 0;

  }

  to {
    transform: translateY(0px);
    opacity: 1;

  }
}

.hobbies-ul {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid gray;
  
}

.hobbies-unordered-list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-delete-hobby-cont {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.edit-delete-btns {
  display: flex;
  gap: .5rem;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.hidden-no-anim {
  display: none;



}

.visible-no-anim-input {
  
  
  
  padding: .5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.main {
  background-color: #BCC5CE;
  background-image: url('./floating-cogs.svg');
  padding: 3rem 2rem;
  
  /*if icon background used*/
  /* <a href="https://www.flaticon.com/free-icons/cv" title="CV icons">CV icons created by Freepik - Flaticon</a> */
  /* <a href="https://www.flaticon.com/free-icons/job" title="job icons">Job icons created by surang - Flaticon</a> */
  /* <a href="https://www.flaticon.com/free-icons/hard-hat" title="hard hat icons">Hard hat icons created by kerismaker - Flaticon</a> */
  /* <a href="https://www.flaticon.com/free-icons/hired" title="hired icons">Hired icons created by Freepik - Flaticon</a> */
}

.configurations-img {
  background-image: url('./floating-cogs.svg');
}

.interlaced-img {
  background-image: url('./interlaced.png');
}

.tile-img {
  background-image: url('./tile.PNG');
}
.gray-img {
  background-image: none;
}

.document {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  box-shadow: 10px 10px 10px gray;
  
}

.document-file {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1300px;
  
}

.document-main {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.document-aside {
  background-color: #22405c;
  border-top: 1rem solid #182d40;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}



.document-contact {
  display: flex;
  gap: 1rem;
}

.document-icon-para {
  display: flex;
  gap: .5rem;
  align-items: center;
}
.name {
  font-size: 3rem;
}

.occupation {
  color: #2ea1ff;
  font-size: 1.5rem;
}

.doc-header-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
}

h4 {
  border-bottom: 1px solid black;
  font-size: 1.7rem;
}

.document-aside h4 {
  border-bottom: 1px solid whitesmoke;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.image-wrapper img {
  border-radius: 50%;
  object-fit: cover;
  
  outline: 5px solid black;
}



.exp-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.individual-exp {
  
}

.exp-position {
  font-size: 1.4rem;
}

.exp-company {
  font-size: 1rem;
  color: rgb(30, 141, 177);
}


.exp-title-date-container {
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 1rem;
}

button {
  cursor: pointer;
}

.document-school-list {
  list-style-type: none;
  padding: 0;

}

.school-item {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  margin-bottom: 1rem;
}


.school-title-date-container {
  display: flex;
  justify-content: space-between;
}

.school-title-date-container h5 {
  
  font-size: 1.1rem;
}

.school-name-location-container {
  display: flex;
  justify-content: space-between;
}

.school-name-location-container h6 {
  color: #2ea1ff;
  font-size: 1rem;
}
